<style>
.multi {
    width: 100%;
    color: black;
    position: absolute;
    top: 0;
    height: 1.5em;
}
.multi ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
}
.multi li {
    flex: 1 1;
}
.multi a, .multi a:visited {
    display: block;
    height: 100%;
    text-decoration: none;
    padding: .5em;
    background-color: #999999;
    color: black;
    text-align: center;
    cursor: pointer;
}
.multi a:hover {
    color: black;
    background-color: #717171;
}
.multi a:active,
.multi .selected,
.multi .selected:visited,
.multi .selected:hover,
.multi .selected:active {
    color: black;
    background-color: #494949;
}
.multi img {
    display: inline-block;
    height: 1em;
    vertical-align: middle;
    margin-right: .5em;
}

.page {
    padding-top: 2.5em;
}
</style>

<div class="multi"><ul>
    <li><a class="selected"><img src="https://thox.madefor.cc/through.svg">through</a></li>
    <li><a href="{{ thumb_url }}"><img src="https://thox.madefor.cc/thumb.svg">thumb</a></li>
    <li><a href="{{ thox_url }}"><img src="https://thox.madefor.cc/thox.svg">thox</a></li>
</ul></div>
